
---
import "../styles/base.css"
import BaseHead from "../components/BaseHead.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={title} description={description} />
</head>
<body>
<!-- class="flex justify-center px-8 py-14" -->
<main>
    <slot />
</main>
</body>
</html>